<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"><title></title></head>

<body>

<header th:replace="fragments/header :: header">header</header>

<div class="container mt-5">

	<div class="row">

		<div class="col-4">
			<ul class="list-group list-group-flush">
				<li class="list-group-item" th:each="pota : ${potagerList}">
					<a th:if="${pota!=potager}" class="btn btn-success" th:href="@{/potager/{potagerId}/overview (potagerId=${pota.id})}">
						<span th:text="${pota.name}"></span>
						<span>(</span>
						<span th:text="${pota.surface}"></span>
						<span>m²)</span>
					</a>
					<a th:if="${pota==potager}" class="btn bg-nav-bar" th:href="@{/potager/{potagerId}/overview (potagerId=${pota.id})}">
						<span th:text="${pota.name}"></span>
						<span>(</span>
						<span th:text="${pota.surface}"></span>
						<span>m²)</span>
					</a>
				</li>
			</ul>
		</div>

		<div class="col-8">

			<div class="bg-potager py-2" th:if="${potager!=null}">
				<div class="bg-carre m-4 px-4 py-2" th:each="carre : ${potager.carreList}">
					<div>
						<a class="a-carre" th:href="@{/potager/{potagerId}/carre/{carreId}/update (potagerId=${potager.id}, carreId=${carre.id})}">
							<span>Carré de cultures de </span>
							<span th:text="${carre.surface}"></span>
							<span>m² sur un sol de type</span>
							<span th:text="${carre.typeDeSol}"></span>
							<span>exposé</span>
							<span th:text="${carre.exposition}"></span>
						</a>
					</div>
					<a class="mx-4 a-plantation" th:each="plantation : ${carre.carrePlanteList}" th:href="@{/potager/{potagerId}/carre/{carreId}/plantation/{planteId}/update (potagerId=${potager.id}, carreId=${carre.id}, planteId=${plantation.plante.id})}" th:title="${plantation.plante}">
						<img class="plante-img my-4" th:src="@{${plantation.plante.imageUrl}}" alt="image du legume">
						<span>x</span>
						<span th:text="${plantation.quantite}"></span>
					</a>
				</div>
			</div>

		</div>

	</div>

<!--	<a class="btn btn-success mt-5" th:href="@{/pota/add}">Crée un nouveau pota</a>-->

<!--	<h3 class="my-5" th:if="${potagerList!=null and potagerList.isEmpty()}">Il n'y pas encore de pota!</h3>-->
<!--	<div th:if="${potagerList!=null and !potagerList.isEmpty()}">-->
<!--		<h3 class="my-5">Liste des potagers :</h3>-->

<!--		<table class="table">-->
<!--			<thead>-->
<!--			<tr>-->
<!--				<th scope="col">#</th>-->
<!--				<th scope="col">Nom</th>-->
<!--				<th scope="col">Surface</th>-->
<!--				<th scope="col">Code postale</th>-->
<!--				<th scope="col">Surface</th>-->
<!--				<th scope="col"></th>-->
<!--				<th scope="col"></th>-->
<!--				<th scope="col"></th>-->
<!--			</tr>-->
<!--			</thead>-->
<!--			<tbody>-->
<!--			<tr th:each="pota : ${potagerList}">-->
<!--				<td th:text="${pota.id}"></td>-->
<!--				<td th:text="${pota.name}"></td>-->
<!--				<td th:text="${pota.surface}"></td>-->
<!--				<td th:text="${pota.zipCode}"></td>-->
<!--				<td th:text="${pota.city}"></td>-->
<!--				<td><a class="btn btn-success" th:href="@{/pota/{id}/delete (id=${pota.id})}">Supprimer</a></td>-->
<!--				<td><a class="btn btn-success" th:href="@{/pota/{id}/update (id=${pota.id})}">Modifier</a></td>-->
<!--				<td><a class="btn btn-success" th:href="@{/pota/{id}/carre/list (id=${pota.id})}">Détails</a></td>-->
<!--			</tr>-->
<!--			</tbody>-->
<!--		</table>-->
<!--	</div>-->

</div>

<footer th:replace="fragments/footer :: footer">footer</footer>

<div th:replace="fragments/script :: script">script</div>

</body>
</html>