<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"><title></title></head>

<body>

<header th:replace="fragments/header :: header">header</header>

<div class="container mt-4">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item active" aria-current="page">Potagers</li>
		</ol>
	</nav>
</div>

<div class="container mt-5 my-container">

	<div th:if="${errorMessage != '' and errorMessage != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
		<span th:text="${errorMessage}"></span>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

	<a class="btn btn-success" th:href="@{/potager/add}">Crée un nouveau potager</a>

	<h3 class="my-5" th:if="${potagerList!=null and potagerList.isEmpty()}">Il n'y pas encore de potager!</h3>
	<div th:if="${potagerList!=null and !potagerList.isEmpty()}">
		<h3 class="my-5">Liste des potagers :</h3>

		<table class="table">
			<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nom</th>
				<th scope="col">Surface</th>
				<th scope="col">Code postale</th>
				<th scope="col">Ville</th>
				<th scope="col"></th>
				<th scope="col"></th>
				<th scope="col"></th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="potager : ${potagerList}">
				<td th:text="${potager.id}"></td>
				<td th:text="${potager.name}"></td>
				<td th:text="${potager.surface}"></td>
				<td th:text="${potager.zipCode}"></td>
				<td th:text="${potager.city}"></td>
				<td><a class="btn btn-success" th:href="@{/potager/{id}/delete (id=${potager.id})}">Supprimer</a></td>
				<td><a class="btn btn-success" th:href="@{/potager/{id}/update (id=${potager.id})}">Modifier</a></td>
				<td><a class="btn btn-success" th:href="@{/potager/{id}/carre/list (id=${potager.id})}">Liste des carrés</a></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

<footer th:replace="fragments/footer :: footer">footer</footer>

<div th:replace="fragments/script :: script">script</div>

</body>
</html>