<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"><title></title></head>

<body>

<header th:replace="fragments/header :: header">header</header>

<div class="container">

	<a class="btn btn-success mt-5" th:href="@{/potager/add}">Crée un nouveau potager</a>

	<h3 class="my-5" th:if="${potagerList!=null and potagerList.isEmpty()}">Il n'y pas encore de potager!</h3>
	<div th:if="${potagerList!=null and !potagerList.isEmpty()}">
		<h3 class="my-5">Liste des potagers :</h3>

		<table class="table">
			<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nom</th>
				<th scope="col"></th>
				<th scope="col"></th>
				<th scope="col"></th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="potager : ${potagerList}">
				<td th:text="${potager.id}"></td>
				<td th:text="${potager.name}"></td>
				<td><a class="btn btn-success" th:href="@{/potager/{id}/delete (id=${potager.id})}">Supprimer</a></td>
				<td><a class="btn btn-success" th:href="@{/potager/{id}/update (id=${potager.id})}">Modifier</a></td>
				<td><a class="btn btn-success" th:href="@{/potager/{id}/carre/list (id=${potager.id})}">Détails</a></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

<footer th:replace="fragments/footer :: footer">footer</footer>

<div th:replace="fragments/script :: script">script</div>

</body>
</html>