<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"><title></title></head>

<body>

<header th:replace="fragments/header :: header">header</header>

<div class="container mt-4">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a th:href="@{/potager/list}">Potagers</a></li>
			<li class="breadcrumb-item active" aria-current="page">Modifier un potager</li>
		</ol>
	</nav>
</div>

<div class="container mt-5 my-container">

	<form th:action="@{/potager/{id}/valider-update (id=${potager.id})}" th:object="${potager}" method="post">
		<div class="mb-3">
			<label class="form-label">Nom</label>
			<input class="form-control" type="text" th:field="*{name}" title="nom du potager">
			<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
		</div>
		<div class="mb-3">
			<label class="form-label">Surface (m²)</label>
			<input class="form-control" type="number" th:field="*{surface}" title="surface du potager">
			<span th:if="${#fields.hasErrors('surface')}" th:errors="*{surface}"></span>
		</div>
		<div class="mb-3">
			<label class="form-label">Code postal</label>
			<input class="form-control" type="text" th:field="*{zipCode}" title="code postal">
			<span th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}"></span>
		</div>
		<div class="mb-3">
			<label class="form-label">Ville</label>
			<input class="form-control" type="text" th:field="*{city}" title="ville">
			<span th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>
		</div>
		<input class="btn btn-success" type="submit" value="Modifier le potager">
	</form>

</div>

<footer th:replace="fragments/footer :: footer">footer</footer>

<div th:replace="fragments/script :: script">script</div>

</body>
</html>