<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"><title></title></head>

<body>

<header th:replace="fragments/header :: header">header</header>

<div class="container mt-5 my-container">

	<form th:action="@{/action/{id}/valider-update (id=${action.id})}" th:object="${action}" method="post">

		<div class="mb-3">
			<label class="form-label" >Action à réaliser</label>
			<input class="form-control" type="text" th:field="*{event}" title="Action à réaliser">
			<span th:if="${#fields.hasErrors('event')}" th:errors="*{event}"></span>
		</div>

		<div class="mb-3">
			<label class="form-label">Date</label>
			<input class="form-control" type="date" th:field="*{date}" title="Date de l'action">
			<span th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></span>
		</div>

		<div class="mb-3">
			<label for="carre" class="form-label">Carrés</label>
			<select id="carre" th:field="*{carres}" multiple>
				<option th:each="carre : ${carres}" th:value="${carre.id}" th:text="${carre.name}">
				</option>
			</select>
		</div>

		<input  class="btn btn-success" type="submit" value="Modifier l'action">
	</form>

</div>

<footer th:replace="fragments/footer :: footer">footer</footer>

<div th:replace="fragments/script :: script">script</div>

</body>
</html>