
.bg-nav-bar {
    background-color: #c7eb52;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.logo {
	width: 50px;
}

.my-nav-bar {
	min-height: 70px;
}

.container {
    margin-bottom: 100px;
}

/*html, body {*/
/*    height: 100%;*/
/*    margin: 0; padding: 0;*/
/*}*/
/*body {*/
/*    display : table;*/
/*    width: 100%;*/
/*}*/
/*footer {*/
/*    display : table-row;*/
/*}*/
