
.bg-nav-bar {
    background-color: #c7eb52;
}

.titre-acceuil {
	text-align: center
}


footer {
	display: table-row;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-top: 50px; 
    height: 50px;  
    left: 0;
    right: 0;
}

.logo {
	width: 50px;
	
}

.my-nav-bar {
	height: 70px;

}

body {
	
	position: relative;
	min-height: 100%;
	margin: 0;
	paddding: 0; 
	box-sizing: border-box;
	width: 1750px;
}

html {
	height: 100%;
}
