
.bg-nav-bar {
    background-color: #c7eb52;
}

.titre-acceuil {
	text-align: center
}


footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.logo {
	width: 50px;
	
}

.my-nav-bar {
	height: 70px;

}

