<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/styles.css}">
	<title>Carré</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-nav-bar">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">Accueil</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="/potager/list">Mes Potagers</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/plante/list">Mes Plantes</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div class="container">

	<a class="btn btn-success mt-5" th:href="@{/potager/{potagerId}/carre/add (potagerId=${potagerId})}">Crée un nouveau carré</a>

	<h3 class="my-5" th:if="${carreList!=null and carreList.isEmpty()}">Il n'y pas encore de carré!</h3>
	<div th:if="${carreList!=null and !carreList.isEmpty()}">
		<h3 class="my-5">Liste des carrés pour le potager : <span th:text="${potagerName}"></span></h3>

		<table class="table">
			<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Surface</th>
				<th scope="col">Type de sol</th>
				<th scope="col">Exposition</th>
				<th scope="col"></th>
				<th scope="col"></th>
				<th scope="col"></th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="carre : ${carreList}">
				<td th:text="${carre.id}"></td>
				<td th:text="${carre.surface}"></td>
				<td th:text="${carre.typeDeSol}"></td>
				<td th:text="${carre.exposition}"></td>
				<td><a class="btn btn-success" th:href="@{/potager/{potagerId}/carre/{carreId}/delete (potagerId=${potagerId}, carreId=${carre.id})}">Supprimer</a></td>
				<td><a class="btn btn-success" th:href="@{/potager/{potagerId}/carre/{carreId}/update (potagerId=${potagerId}, carreId=${carre.id})}">Modifier</a></td>
				<td><a class="btn btn-success" th:href="@{/potager/{potagerId}/carre/{carreId}/plantation/list (potagerId=${potagerId}, carreId=${carre.id})}">Détails</a></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>