<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"><title></title></head>

<body>

<header th:replace="fragments/header :: header">header</header>

<div class="container">

	<a class="btn btn-success mt-5" th:href="@{/potager/{potagerId}/carre/add (potagerId=${potagerId})}">Crée un nouveau carré</a>

	<h3 class="my-5" th:if="${carreList!=null and carreList.isEmpty()}">Il n'y pas encore de carré!</h3>
	<div th:if="${carreList!=null and !carreList.isEmpty()}">
		<h3 class="my-5">Liste des carrés pour le potager : <span th:text="${potagerName}"></span></h3>

		<table class="table">
			<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Surface</th>
				<th scope="col">Type de sol</th>
				<th scope="col">Exposition</th>
				<th scope="col"></th>
				<th scope="col"></th>
				<th scope="col"></th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="carre : ${carreList}">
				<td th:text="${carre.id}"></td>
				<td th:text="${carre.surface}"></td>
				<td th:text="${carre.typeDeSol}"></td>
				<td th:text="${carre.exposition}"></td>
				<td><a class="btn btn-success" th:href="@{/potager/{potagerId}/carre/{carreId}/delete (potagerId=${potagerId}, carreId=${carre.id})}">Supprimer</a></td>
				<td><a class="btn btn-success" th:href="@{/potager/{potagerId}/carre/{carreId}/update (potagerId=${potagerId}, carreId=${carre.id})}">Modifier</a></td>
				<td><a class="btn btn-success" th:href="@{/potager/{potagerId}/carre/{carreId}/plantation/list (potagerId=${potagerId}, carreId=${carre.id})}">Détails</a></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

<footer th:replace="fragments/footer :: footer">footer</footer>

<div th:replace="fragments/script :: script">script</div>

</body>
</html>