<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"><title></title></head>

<body>

<header th:replace="fragments/header :: header">header</header>

	<div class="container mt-5">

		<form
			th:action="@{/potager/{potagerId}/carre/valider (potagerId=${potagerId})}"
			th:object="${carre}" method="post">
			<div class="mb-3">
				<label class="form-label">Surface (m²)</label>
				<input class="form-control" type="number" th:field="*{surface}" title="surface">
				<span th:if="${#fields.hasErrors('surface')}" th:errors="*{surface}"></span>
			</div>
			<div class="mb-3">
				<label class="form-label">Type de sol</label>
				<input class="form-control" type="text" th:field="*{typeDeSol}" title="typeDeSol">
				<span th:if="${#fields.hasErrors('typeDeSol')}" th:errors="*{typeDeSol}"></span>
			</div>
			<div class="mb-3">
				<label class="form-label">Exposition</label>
				<input class="form-control" type="text" th:field="*{exposition}" title="exposition">
				<span th:if="${#fields.hasErrors('exposition')}" th:errors="*{exposition}"></span>
			</div>
			<input class="btn btn-success" type="submit" value="Crée un nouveau carre">
		</form>

	</div>

<footer th:replace="fragments/footer :: footer">footer</footer>

<div th:replace="fragments/script :: script">script</div>

</body>
</html>