<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"><title></title></head>

<body>

<header th:replace="fragments/header :: header">header</header>

<div class="container my-container">

	<div th:if="${errorMessage != '' and errorMessage != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
		<span th:text="${errorMessage}"></span>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	
	<a class="btn btn-success mt-5" th:href="@{/plante/add}">Ajouter une nouvelle plante</a>

	<h3  class="my-5" th:if="${planteList!=null and planteList.isEmpty()}">Il n'y pas encore de plante!</h3>
	<div th:if="${planteList!=null and !planteList.isEmpty()}">
		<h3 class="my-5">Liste des plantes :</h3>
		<table class="table" >
			<thead>
				<tr>
					<th scope="col">id</th>
					<th scope="col">Nom</th>
					<th scope="col">Surface (cm²)</th>
					<th scope="col"></th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="plante : ${planteList}">
					<td th:text="${plante.id}"></td>
					<td th:text="${plante.name}"></td>
					<td th:text="${plante.surface}"></td>
					<td><a class="btn btn-success" th:href="@{/plante/{id}/delete (id=${plante.id})}">Supprimer</a></td>
					<td><a class="btn btn-success" th:href="@{/plante/{id}/update (id=${plante.id})}">Modifier</a></td>
					<td><a class="btn btn-success" th:href="@{/plante/{id}/localiser (id=${plante.id})}">Localiser</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	
</div>

<footer th:replace="fragments/footer :: footer">footer</footer>

<div th:replace="fragments/script :: script">script</div>

</body>
</html>