<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Plante</title>
</head>
<body>

<div>
	<h2 th:if="${planteList!=null and planteList.isEmpty()}">Il n'y pas encore de plante!</h2>
	<div th:if="${planteList!=null and !planteList.isEmpty()}">
		<h2>Liste des plantes :</h2>
		<table>
			<thead>
				<tr>
					<th>id</th>
					<th>Nom</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="plante : ${planteList}">
					<td th:text="${plante.id}"></td>
					<td th:text="${plante.name}"></td>
					<td><a th:href="@{/plante/{id}/delete (id=${plante.id})}">Supprimer</a></td>
					<td><a th:href="@{/plante/{id}/update (id=${plante.id})}">Modifier</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<p>
		<a th:href="@{/plante/add}">Ajouter une nouvelle plante</a>
	</p>
</div>

</body>
</html>