<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"><title></title></head>

<body>

<header th:replace="fragments/header :: header">header</header>

<div class="container mt-5">

	<form th:action="@{/plante/valider}" th:object="${plante}" method="post">
		<div class="mb-3">
			<label class="form-label" >Nom</label>
			<input class="form-control" type="text" th:field="*{name}" title="nom de la plante">
			<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
		</div>
		<div class="mb-3">
			<label class="form-label" >Surface (cm²)</label>
			<input class="form-control" type="number" th:field="*{surface}" title="surface de la plante">
			<span th:if="${#fields.hasErrors('surface')}" th:errors="*{surface}"></span>
		</div>
		<input  class="btn btn-success" type="submit" value="Ajouter une nouvelle plante">
	</form>

</div>

<footer th:replace="fragments/footer :: footer">footer</footer>

<div th:replace="fragments/script :: script">script</div>

</body>
</html>