<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"><title></title></head>

<body>

<header th:replace="fragments/header :: header">header</header>

<div class="container mt-4">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a th:href="@{/potager/list}">Potagers</a></li>
			<li class="breadcrumb-item"><a th:href="@{/potager/{potagerId}/carre/list (potagerId=${potagerId})}">Carrés</a></li>
			<li class="breadcrumb-item active" aria-current="page">Plantations</li>
		</ol>
	</nav>
</div>

<div class="container mt-5 my-container">

	<a class="btn btn-success" th:href="@{/potager/{potagerId}/carre/{carreId}/plantation/add (potagerId=${potagerId}, carreId=${carreId})}">Ajouter une nouvelle plantation</a>

	<h3 class="my-5" th:if="${carrePlanteList!=null and carrePlanteList.isEmpty()}">Il n'y pas encore de plantation!</h3>
	<div th:if="${carrePlanteList!=null and !carrePlanteList.isEmpty()}">
		<h3 class="my-5">Liste des plantations :</h3>

		<table class="table">
			<thead>
			<tr>
				<th scope="col">quantité</th>
				<th scope="col">Plante</th>
				<th scope="col"></th>
				<th scope="col"></th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="carrePlante : ${carrePlanteList}">
				<td th:text="${carrePlante.quantite}"></td>
				<td th:text="${carrePlante.plante.name}"></td>
				<td><a class="btn btn-success" th:href="@{/potager/{potagerId}/carre/{carreId}/plantation/{planteId}/delete (potagerId=${potagerId}, carreId=${carreId}, planteId=${carrePlante.plante.id})}">Supprimer</a></td>
				<td><a class="btn btn-success" th:href="@{/potager/{potagerId}/carre/{carreId}/plantation/{planteId}/update (potagerId=${potagerId}, carreId=${carreId}, planteId=${carrePlante.plante.id})}">Modifier</a></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

<footer th:replace="fragments/footer :: footer">footer</footer>

<div th:replace="fragments/script :: script">script</div>

</body>
</html>