<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"><title></title></head>

<body>

<header th:replace="fragments/header :: header">header</header>

<div class="container mt-4">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a th:href="@{/potager/list}">Potagers</a></li>
			<li class="breadcrumb-item"><a th:href="@{/potager/{potagerId}/carre/list (potagerId=${potagerId})}">Carrés</a></li>
			<li class="breadcrumb-item"><a th:href="@{/potager/{potagerId}/carre/{carreId}/plantation/list (potagerId=${potagerId}, carreId=${carreId})}">Plantations</a></li>
			<li class="breadcrumb-item active" aria-current="page">Modifier une plantation</li>
		</ol>
	</nav>
</div>

<div class="container mt-5 my-container">

	<form th:action="@{/potager/{potagerId}/carre/{carreId}/plantation/valider (potagerId=${potagerId}, carreId=${carreId})}" th:object="${carrePlante}" method="post">

		<div class="mb-3">
			<label for="plantation" class="form-label">Plante</label>
			<select id="plantation" th:field="*{plante}">
				<option th:each="plante : ${planteList}" th:value="${plante.id}" th:text="${plante.name}">
				</option>
			</select>
		</div>

		<div class="mb-3">
			<label class="form-label">Quantité</label>
			<input class="form-control" type="number" th:field="*{quantite}" title="nom du potager">
			<span th:if="${#fields.hasErrors('quantite')}" th:errors="*{quantite}"></span>
		</div>

		<input class="btn btn-success" type="submit" value="Modifier la plantation">

	</form>

</div>

<footer th:replace="fragments/footer :: footer">footer</footer>

<div th:replace="fragments/script :: script">script</div>

</body>
</html>